{% extends 'layout/layout.html' %}

{% block pseudotitle %}
	{% block title %}
	{% endblock %}
{% endblock %}

{% block pseudoload_static %}
	{% load static %}

	<link rel="stylesheet" type="text/css" href="{% static 'anon_post/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'anon_post/anon_index.css' %}">


	{% block load_static %}
	{% endblock %}
{% endblock %}


{% block core %}

	<div id="color_animated_bg">
		<div class="aurora-outer"><div class="aurora-inner"></div></div>
	</div>
	<div id="white_fade_overlay"></div>

	{% if user.is_authenticated %}
		{% include 'layout/nav_authenticated_user.html' %}
	{% else %}
		{% include 'layout/nav_unauthenticated_user.html' %}
	{% endif %}

	<div id="solace_title">
			<a href="{% url 'home' %}">solace</a>
	</div>

	<div class="content">
		{% block body %}{% endblock %}
	</div>


{% endblock %}

{% block footer %}
	{% load static %}
	<script type="text/javascript" src="{% static 'anon_post/anon_index.js' %}"></script>
	{% block foot_static_load %}
	{% endblock %}
{% endblock %}
