<div class="header">
				<div class="nav_button">
					<div class="nav_button_bar"></div>
					<div class="nav_button_bar" id="nav_menu">
						
						<span class="nav_menu_item">
							<a href="{% url 'home' %}">home</a>
						</span>
						<span class="nav_menu_item">
							<a href="{% url 'show_anon_post_list' %}">questions</a>
						</span>
						<span class="nav_menu_item">
							<a href="{% url 'client_login' %}">login</a>
						</span>
						<span class="nav_menu_item">
							<a href="{% url 'client_register' %}">register</a>
						</span>
					</div>
					<div class="nav_button_bar"></div>
				</div>
			</div>