<div class="header">
				<div class="nav_button">
					<div class="nav_button_bar"></div>
					<div class="nav_button_bar" id="nav_menu">
						<span class="nav_menu_item">
							<a href="{% url 'practitioner_index' %}">home</a>
						</span>
						<span class="nav_menu_item">
							<a href="{% url 'practitioner_index' %}">profile</a>
						</span>
						<span class="nav_menu_item">
							<a href="{% url 'practitioner_register' %}">register</a>
						</span>
					</div>
					<div class="nav_button_bar"></div>
				</div>
			</div>