{% extends 'practitioners/base.html' %}

{% block title %} test_form {% endblock %}

{% block load_static %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'anon_post/form.css' %}">
{% endblock %}

{% block body %}
<div class="form_title"> {{ controller_name }} </div>
<div class="form_container">

	<form method="post" action="{% url post_url %}">
		{% csrf_token %}
		{% for field in form %}
			<div class="form_field">
				<div class="form_field_tag">{{ field.label_tag }}</div>
				<div class="form_field_field">{{ field }}</div>
			</div>
		{% endfor %}
		<input type="submit" class="form_submit_button" value="Submit">
	</form>
</div>

{% endblock %}